body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    background-color: #004080;
    font-family: 'Bentham', serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

#title {
    font-family: 'Bentham', serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.axis-label {
    font-family: 'Bentham', serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    fill: whitesmoke;
    text-shadow: 2px 2px 2px black;
    text-anchor: middle;
}

.bar-label {
    font-family: 'Bentham', serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    fill: whitesmoke;
    text-shadow: 2px 2px 2px black;
    text-anchor: middle;
    transition: opacity 0.25s linear;
    opacity: 0;
    text-anchor: start;
}